<?xml version="1.0" encoding="UTF-8"?>
<module>
	<grants />
	<permissions />
	<actions>
		<action name="dispNotificationAdminPlugins" type="view" menu_name="notification" menu_index="true" admin_index="true" />
	</actions>
	<menus>
		<menu name="notification" type="all">
			<title xml:lang="ko">알림</title>
		</menu>
	</menus>
</module>
